*
{
margin:0px;
padding:0px;
outline:none;
border:none;
transition:all 1s linear;
}
.watercontainer
{
	width:250px;
	height:250px;
	background-size:100%;
	position:relative;
	border:10px double white ;
	border-radius:50%;
	overflow:hidden;
	background:#fffcfd;
	display: flex;
	justify-content:center;
	align-items:center;
}
.watercontainer img
{
	position:absolute;
	bottom:0px;
	width:100%;
	height:0%;
}
.background
{
	position:fixed;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
	height:100%;
	background-image:url('back.jpg');
	background-size:100%;
	filter:brightness(0.4);
}
.main
{
	display: flex;
	justify-content:flex-start;
	flex-wrap:wrap;
	background:rgba(255,255,255,0.7);
	margin:10% 1% 0% 5%;
	width:50%;
	display:flex;
	border:1px solid transparent;
	justify-content:space-between;
	border-radius:20px;
}
.water
{
	/*margin:5%;*/
	padding:5%;
	display:flex;
	justify-content:space-around;
}
.temp
{
	width:230px;
	height:270px;
	/*margin:10%;*/
	padding:5%;
	background-image:linear-gradient(45deg, #ffd54f5c,#00130d);
	background-size:110%;
	background-opacity:50%;
	background-position:center;
/*	border:10px solid transparent;
*/	border-radius:20px;
	z-index:2;
	display:flex;
	flex-direction:column;
	justify-content:space-between;

}
.tempoverlay
{
	position:absolute;
	background-image:url(temp.jpg);
	background-size:100%;
	background-position:center;
	/*filter:grayscale(0.9);*/
	z-index:1;
	/*border:1px solid transparent;*/
	border-radius:20px;
}
.temp span,.tempp
{
	display: block;
	font-family: 'Grenze Gotisch', cursive;
   /*letter-spacing: 5px;*/
   font-size: 2em;
   color: #ffd003;
	/*font-size: calc(1em + 20vw) ;  */
	font-weight: 900;
	text-shadow: 0px 0px 25px black;
  
} 
.tempp
{
	text-shadow: 0px 0px 30px black;
}
.waterp
{
	font-family: 'Cherry Cream Soda', cursive;
	font-size:3em;
}
/*font-weight: bold;
   background-image: linear-gradient(
	to right,
	#462523 0,
       	#cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip:text;
*/
body
{
	display:flex;
	justify-content:flex-start;
}

.drop
{
	/*padding:5%;*/
	vertical-align:center;
	display:flex;
	margin:10% 0% 0% 0%;
	color:white;
	align-items:center;
}
.drop img
{
	cursor:pointer;
}
.drop p,.drop span
{
	font-size:2em;
	width:3em;
	font-family: 'Cherry Cream Soda', cursive;
}
.drop img:first-child
{
	position:relative;
	left:80px;
	top:50px;
	animation-duration:1s;
	animation-iteration-count:1;
	animation-fill-mode:forwards;
	animation-direction:alternate;
}
@keyframes rotate
{
	from { transform:rotateZ(0deg); }
	to { transform:rotateZ(180deg)}
}
@keyframes rotater
{
	from { transform:rotateZ(90deg); }
	to { transform:rotateZ(0deg);}
}
.dropimg
{

}