body
{
	background-color: white;
}
nav
{
	font-size:1.5rem;
	display:flex;
	justify-content:flex-end;
	background-image:linear-gradient(to right,rgba(0,0,0,0.3),black);
}
nav a
{
	padding:.5rem 1rem;
	color:white;
	text-shadow: 0 0 2px #fff, 0 0 3px #3dff71, 0 0 4px #3dff71, 0 0 5px #3dff71, 0 0 6px #3dff71, 0 0 7px #3dff71, 0 0 8px #3dff71;
}
nav a:hover
{
	color:white;
	text-decoration:none;
	font-weight:bolder;
	text-shadow: 0 0 4px #fff, 0 0 5px #3dff71, 0 0 6px #3dff71, 0 0 7 #3dff71, 0 0 9px #3dff71, 0 0 10px #3dff71, 0 0 11px #3dff71;

}
.nav-link{
display:inline-block;
}
#scan
{
	width:35%;
	height:3rem;
	background-image:linear-gradient(to top,#19a5c0,transparent);
	border-bottom:3px solid #8ec2d8;
	box-shadow:2px 2px 2px white;
	border-radius:10px;
	position:absolute;
	right:3rem;
	animation-name:unset;
	display:block;
	animation-duration:1s;
	animation-iteration-count:1
	animation-fill-mode: forwards;
}
@keyframes scan
{
	from {transform:translate3d(0,0,0);}
	to{transform:translate3d(0,420px,0);display:none;}
}
.dropdown-menu
{
	background-color:unset;
	left:-1rem;
}
.dropdown-item
{
	text-align:center;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.8))
}

.background
{
	width:100%;
	position:relative;
	top:-3.5rem;
	z-index:-1;
}
.logo
{
	position:absolute;
	left:3rem;
	top:3rem;
	z-index:2;
	transition: transform 0.5s;
}
.logo:hover
{
	transform: scale(1.3)
}
.logo:active
{
	transform: scale(0.8)
}
.logo img
{
	border:0px solid transparent;
	border-radius: 50%;
}
.card
{
	background-color:transparent;

}
.card-header
{
	background-color:transparent;
	border:unset;
}
#embed
{
	width:100%;
	height:fit-content;
	display:flex;
	justify-content:center;
	padding:5%;
	background-color:#f0f8ff;
}
.innerembed
{
	width:fit-content;
	height:fit-content;
	display:flex;
	justify-content:center;
	padding:0.5rem;	
	background-color:black;
	box-shadow:0 0rem 3rem rgba(1,126,255,.5)
}

.btn
{
	font-size:2rem;
	color:#0099bb;

	font-weight:bolder;
}
.card-body
{
	font-size:1.3rem;

}
#contact
{
	width:100%;
	background-color:#ddfbf4;
	border-top:1px solid white;
	padding:7% 20%;
	color:#1c8064;
	font-family: 'Josefin Sans', sans-serif;
	transition:all 0.2s linear;


}
form
{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
#submitdiv
{
	width:100%;
	text-align:center;
}
.form-control 
{
    border-bottom: 3px solid green;
    animation-name: w;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 black;

}
#email
{
	animation-delay:0.8s;
}
#name
{
	animation-delay:0.48s;
}
@keyframes w {
	0% {
    border-bottom: 3px solid purple;
}
25% {
    border-bottom: 3px solid orange;
}
50% {
    border-bottom: 3px solid blue;
}
75% {
    border-bottom: 3px solid green;
}
}
form
{
	text-align: center;
}



input,textarea
{
	    margin-bottom: 10px;
}
.btn-secondary-outline
{
	color:#0099bb;
	outline:none;
	border:none;
	transition:transform 0.25s ease-out;
	padding:1% 5%;
}
.btn-secondary-outline:hover
{
	color:#0099bb;
	outline:none;
	border:none;
	transform: scale(1.2);
}
.btn-secondary-outline:active
{
	color:#0099bb;
	transform: scale(0.9);
}
.alert
{
	position: fixed;
	bottom: 0;
	right:0;
	padding:10px;
	font-size:1.5rem;
	background-color:#645CFF;
	border:5px solid transparent;
	border-radius:10px;
	margin:30px;
	width:30%;
	height:content;
	display:none;
	font-family: 'Josefin Sans', sans-serif;
}
.alert div
{
	height:9px;
	position:relative;
	bottom:0;
	right:0;
	/*animation-name:time;*/
	animation-duration:2s;
	animation-timing-function:linear;
	animation-iteration-count:1;
	background-color:black;
}
@keyframes time 
{
	from{width:100%;}
	to{width:0%}
}